<h1>Leaflet Tutorials Homepage</h1>
<h3>This is where I am doing some testing...</h3>
<hr>

<h2>Tutorials:</h2>
<h3><%= link_to "Quickstart", quickstart_path  %></h3>
<h3><%= link_to "Custom Markers", custommarkers_path  %></h3>
<h3><%= link_to "GeoJSON", geojson_path  %></h3>
<h3><%= link_to "Choropleth Map", choropleth_path  %></h3>